* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {

    font-family: "Noto Serif Hentaigana", serif;

    background-color: #222831;

    color: #EEEEEE;

    line-height: 1.6;
  }

  .main-title {

    margin-right: auto; /* alinha o título "Victor Carpinelli" a esquerda */

  }

  .main-header {

    display: flex; 

    justify-content: space-between; /* alinha os elementos de forma que o espaço entre eles seja o mesmo */

    background-color: #222831; 

    border-bottom: 10px solid #00ADB5; 

    padding: 10px 20px; 

    align-items: center;
    
  }

  .main-nav ul {

  list-style: none; /* remove os marcadores "o" de lista */

  margin: 0;

  padding: 0;

  display: flex; /* transforma a lista em um container flexível */

  }
  
  .main-nav li {

    margin-right: 20px; /* adiciona espaçamento entre os itens da lista */

    padding-right: 60px; /* adiciona espaçamento interno */

    font-size: 20px;
    
  }

  .main-nav a {

    text-decoration: none; /* remove o sublinhado dos links */

    color: #00ADB5; /* define a cor dos links */

  }

  .main-nav a:hover {

    color: #EEEEEE; /* define a cor dos links ao passar o mouse */

  }


  .about-card {

    display: flex; /* ativa o Flexbox no card */

    flex-direction: column; /* alinha os itens verticalmente */

    align-items: center; /* centraliza os itens horizontalmente */

    background-color: #393E46; /* cor de fundo do card */
    
    border-radius: 8px;

    padding: 40px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    width: 50%;

    margin: 100px auto 50px;

  }

  .container {

    display: flex;

    justify-content: center;

    gap: 20px;

  }

  .section-title {

    display: flex;

    justify-content: center;
    
    align-items: center;
    
    font-size: 30px;

    margin-bottom: 20px;

  }

  .container-buttons {

    display: flex;

    justify-content: flex-end;

    gap: 30px;

    padding-right: 250px;

  }

  .btn {

    background-color: #00ADB5; 

    color: #fff; 

    height: 60px;

    font-size: 20px;

    line-height: 60px;

    padding-left: 70px;

    padding-right: 70px; 

    border-radius: 8px;

    text-decoration: none; 

    transition: all 0.2s cubic-bezier(0,1.56,.67,1.31);

  }
  
  .btn:hover {

    transform: scale(1.1);

    background-color: #EEEEEE; 

    color: #00ADB5;

  }

  .container-project {
    
    display: flex; /* ativa o Flexbox no card */

    justify-content: center;

    background-color: #393E46;

    border-radius: 8px;

    padding: 40px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    width: 50%;

    margin: 100px auto;

  }

  .projetos {

    display: flex;
    
    gap: 300px;
    
  }

  .image-container {
  
    display: flex;

    height: 430px;

    padding-top: 50px;

    padding-left: 100px;

    border-radius: 300px;
  }

  a[href^="mailto:"] {
    
    text-decoration: none;

    color: #EEEEEE;

  }

  a[href^="mailto:"]:hover {

    color: #00ADB5; /* Cor ao passar o mouse */

  }
